<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h2>Tender</h2>
        <button class="btn bg-theme-primary text-white m-2 my-sm-0" [routerLink]="['/admin/create-tender']">
          Create Tender
        </button>
      </div>
      <div class="card-body">
        <div class="card search container py-3 d-flex">
          <div class="searchbar">
            <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="filter.title" />
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <div class="d-flex">
            <div class="form-group text-value d-flex m-2" >
              <label for="ccyear" class="mr-1">Year: </label>
              <select class="form-control" id="ccyear" [(ngModel)]="filter.publishDate">
                <option value="">---Select Year---</option>
                <option *ngFor="let year of getYear(5)" [value]="year">{{year}}</option>
              </select>
            </div>
            <div class="form-group text-value d-flex m-2" >
              <label for="ccyear" class="mr-1">Month: </label>
              <select class="form-control" id="ccyear" [(ngModel)]="filter.publishDate">
                <option value="">---Select Month---</option>
                <option *ngFor="let month of getMonths()" [value]="month.value">{{month.name}}</option>
              </select>
            </div>
          </div>
        </div>
          <table class="table stripped-alt table-responsive-sm table-xs-responsive table-hover table-outline mb-0"
          summary="List of countracts" aria-role="table">
            <thead class="thead-light">
              <tr class="text-center">
                <th>Tender</th>
                <!-- <th>Actions</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tender of allTender | filterBy: filter">
                <td>
                  <div>
                    <h3 class="my-2">{{tender.title}}</h3>
                    <!-- <h3 class="sub-title">{{ tender.openingInfo}}</h3> -->
                    {{tender.collectionOfBidDocument}}
                    <div class="small font-weight-bold text-theme-primary py-2">
                      Published: {{tender.publishDate | date:'mediumDate'}} | Expires: {{tender.expiryDate | date:'mediumDate'}}
                    </div>
                  </div>
                  <div class="text-center my-2">
                    <button class="btn btn-primary m-2" (click)="setTender(tender)" >Edit</button>
                    <button class="btn btn-info m-2" (click)="setTender(tender, 'lot')" >Lot</button>
                    <button class="btn btn-warning m-2" (click)="setTender(tender, 'category')" >Category</button>
                    <button class="btn btn-success m-2" (click)="setTender(tender, 'req')" >Requirements</button>
                    <button class="btn btn-danger m-2" *ngIf="tender.publish && isAdmin()" (click)="unPublishTender(tender.id)" >Unpublish</button>
                    <button class="btn btn-theme-primary m-2" *ngIf="!tender.publish && isAdmin()" (click)="publishTender(tender.id)">Publish</button>
                  </div>
                </td>
                <!-- <td></td> -->
              </tr>
            </tbody>
          </table>
          <div class="my-5 text-center" *ngIf="loading">
            <span>Fetching tender...</span>
          </div>
        <div class="my-5 text-center" *ngIf="!loading && allTender.length === 0">
          <span>No tender added, add tender to view them here.</span>
        </div>
        <div class="my-5 text-center" *ngIf="!loading &&(allTender | filterBy: filter).length === 0">
          <span>No matching results.</span>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->
<ngx-loading-x [show]="loading" [spinnerColor]="'#3a9d5d'"></ngx-loading-x>