@import "../../../scss/variables";

.notification {
  word-break: break-all;
}
.notification-bg{
  background-color: #F5F1F9;
}
.icon i{
  color: darken($ca-color-secondary, 10%);
}

a {
  color: #000;
}
.icon{
  color: darken($ca-color-secondary, 10%);
}
.pages{
  margin: 0 auto;
  margin-top: 4vh;

  li.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: $ca-color-primary !important;
    border-radius: 50px !important;
    color: #fefefe;
    cursor: default;
  }
}

.timestamp {
    font-size: x-small;
}