<footer class="">
  <div class="main-footer w-100 ca-bg-secondary">
    <div class="curved"></div>
    <div class="content container w-100 py-5">
      <div class="row justify-content-between">
        <div class="my-3 col-md-4">
          <li>
            <h2>Services</h2>
          </li>
          <li>
            <a
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
              >Bid for Contracts</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
              >Register as Contractor</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
              >Register as Artisan</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
              >Register as Supplier</a
            >
          </li>
        </div>
        <div class="my-3 col-md-4">
          <li>
            <h2>Company</h2>
          </li>
          <li><a target="_blank" href="http://contraccess.ng/">About Us</a></li>
          <li>
            <a target="_blank" href="http://contraccess.ng/privacy-policy/"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="http://contraccess.ng/terms-and-conditions/"
              >Terms of Service</a
            >
          </li>
          <!-- <li><a target="_blank" href="http://contraccess.ng/careers/">Careers</a></li> -->
        </div>
        <div class="my-3 col-md-4">
          <li>
            <h2>Stay connected</h2>
          </li>
          <li>
            <a target="_blank" href="http://contraccess.ng/contact-us/"
              >Contact us</a
            >
          </li>
          <div class="my-3">
            <div class="d-flex social-icons">
              <div class="fa-icon">
                <a
                  class="footer-links"
                  href="https://www.facebook.com/contraccess/ "
                  target="_blank"
                >
                  <i class="fab fa-facebook-f mr-3"></i>
                </a>
              </div>
              <div class="fa-icon">
                <a
                  class="footer-links"
                  href="https://www.twitter.com/contraccess/"
                  target="_blank"
                >
                  <i class="fab fa-twitter mr-3"></i
                ></a>
              </div>
              <div class="fa-icon">
                <a
                  class="footer-links"
                  href="https://www.linkedin.com/contraccess/"
                  target="_blank"
                >
                  <i class="fab fa-linkedin mr-3"></i
                ></a>
              </div>
              <div class="fa-icon">
                <a
                  class="footer-links"
                  href="https://www.instagram.com/contraccess/"
                  target="_blank"
                >
                  <i class="fab fa-instagram mr-3"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-info py-auto d-md-block d-lg-block w-100 py-2">
      <div class="container w-100">
        <div class="row">
          <div class="col-md-9"> Copyright &copy; {{ currentYear }} Owned & managed
            by Virtualpro Technologies Limited. All rights reserved
          </div>
          <div class="email col-md-3">info@contraccess.com</div>
        </div>
      </div>
    </div>
  </div>
</footer>
