<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h2 class="col-sm-12 col-md-8">{{ docType | uppercase}} DOCUMENTS({{documents.length}})</h2>
        <button *ngIf="docType !=='audit'" class="btn bg-theme-primary text-white m-2 my-sm-0 col-sm-12 col-md-4" [routerLink]="['/contractor/documents/upload/' + docType]">
          UPLOAD {{ docType  | uppercase}} DOCUMENT
        </button>
        <button *ngIf="docType ==='audit'" class="btn bg-theme-primary text-white m-2 my-sm-0 col-sm-12 col-md-4" [routerLink]="['/contractor/documents/audit/add']">
          UPLOAD AUDIT DOCUMENT
        </button>
      </div>
      <div class="card-body">
        <table
          class="table stripped table-responsive-sm table-xs-responsive table-hover table-outline mb-0"
          summary="List of projects"
          aria-role="table"
        >
          <colgroup>
            <col span="1" style="width: 20%;" />
            <col span="1" style="width: 35%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
          </colgroup>
          <thead class="thead-light">
            <tr>
              <th>Document</th>
              <th>Document Description</th>
              <th *ngIf="docType !=='audit'">Certificate Number</th>
              <th *ngIf="docType !=='audit'">Year</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="">
            <tr *ngFor="let item of documents">
              <td>
                <div>
                  <img
                    *ngIf="docType !== 'audit'"
                    [src]="item.imageUrl"
                    width="150"
                    height="150"
                    alt=""
                    srcset=""
                  />
                  <img
                    *ngIf="docType === 'audit'"
                    src="../../../../../assets/img/pdf.png"
                    width="150"
                    height="150"
                    alt=""
                    srcset=""
                  />
                </div>
              </td>
              <td>
                <div>
                  {{ item.description || 'Description not available' }}
                </div>
              </td>
              <td *ngIf="docType !=='audit'">
                <div>
                  {{ item.certificateNum }}
                </div>
              </td>
              <td *ngIf="docType !=='audit'">
                <div>
                  {{ item.year }}
                </div>
              </td>
              <td class="text-center">
                <button class="btn btn-warning" (click)="setDocument(item)">Edit</button>
                <button class="btn btn-theme-primary m-2" (click)="openModal(template, item)">View</button>
                <!-- <a [href]="item.imageUrl" target="_blank" [download]="item.certificateNum +'-'+ item.year +'.jpg'">
                  <button class="btn btn-theme-primary m-2" [disabled]="!item.imageUrl">View</button>
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="my-5 text-center" *ngIf="!loading && documents.length === 0">
          <span>No documents added, add documents to view them here.</span>
        </div>
        <!-- </div> -->
      </div>

      <ng-template #template>  
        <div class="modal-header">  
          <h4 class="modal-title pull-left">Document</h4>  
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
            <span aria-hidden="true">×</span>  
          </button>  
        </div>  
        <div class="modal-body">
          <app-view [doctype]="docType"></app-view>
        </div>  
        <div class="modal-footer">  
          <button type="button" class="btn btn-warning" (click)="modalRef.hide()">Close</button>  
        </div>  
      </ng-template> 
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
