.ca-forgot-password-section {
  min-height: 100vh;
}
.ca-forgot-password-container {
  justify-content: center;
  padding: 5em 0;
  text-align: center;
  h1 {
    font-size: 2.5em;
    font-weight: 200;
    color: #000;
  }
}
