<section class="ca-hero-section">
  <div class="container my-auto">
    <div class="row">
      <div class="col-md-7 offset-md-5 d-md-inline-flex"></div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12 text-left">
        <h1 class="col-md-7 uppercase pt-5">
          Alleviate the rigors of the tendering process
        </h1>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12 banner-text">
        <div class="row">
          <div
            class="col-12 col-md-7 col-sm-12 offset-md-5 col-lg-8 offset-lg-4"
          >
            <h2 class="col-md-7 text-white my-3">Get access to:</h2>
            <div class="row">
              <div class="col-lg-4 col-md-4 my-3 col-4 text-center">
                <div class="services" routerLink="/contractors">
                  <div class="">
                    <img
                      src="../../../assets/img/landing/icons/contractor.svg"
                      width="80"
                      height="80"
                      style="stroke: white;"
                      class="d-none d-md-inline-flex"
                    />
                    <img
                      src="../../../assets/img/landing/icons/contractor.svg"
                      width="80"
                      height="80"
                      class="d-md-none"
                    />
                  </div>
                  <div class="service my-1 text-center">Contractors<br /></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 my-3 col-4 text-center">
                <div class="services" routerLink="/mdas">
                  <div class="">
                    <img
                      src="../../../assets/img/landing/icons/mda.svg"
                      width="80"
                      height="80"
                      class="d-none d-md-inline-flex"
                    />
                    <img
                      src="../../../assets/img/landing/icons/mda.svg"
                      width="80"
                      height="80"
                      class="d-md-none"
                    />
                  </div>
                  <div class="service my-1 text-center">MDAs <br /></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 my-3 col-4 text-center">
                <div class="services" routerLink="/suppliers">
                  <div class="">
                    <img
                      src="../../../assets/img/landing/icons/supplier.svg"
                      width="80"
                      height="80"
                      class="d-none d-md-inline-flex"
                    />
                    <img
                      src="../../../assets/img/landing/icons/supplier.svg"
                      width="80"
                      height="80"
                      class="d-md-none"
                    />
                  </div>
                  <div class="service my-1 text-center">Suppliers<br /></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 my-3 col-4 text-center">
                <div class="services" routerLink="/artisans">
                  <div class="">
                    <img
                      src="../../../assets/img/landing/icons/artisan.svg"
                      width="80"
                      height="80"
                      class="d-none d-md-inline-flex"
                    />
                    <img
                      src="../../../assets/img/landing/icons/artisan.svg"
                      class="d-md-none"
                    />
                  </div>
                  <div class="service my-1 text-center">Artisan<br /></div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 my-3 col-4 text-center">
                <div class="services" routerLink="/experts">
                  <div class="">
                    <img
                      src="../../../assets/img/landing/icons/expert.svg"
                      width="80"
                      height="80"
                      class="d-none d-md-inline-flex"
                    />
                    <img
                      src="../../../assets/img/landing/icons/expert.svg"
                      width="80"
                      height="80"
                      class="d-md-none"
                    />
                  </div>
                  <div class="service my-1 text-center">Experts<br /></div>
                </div>
              </div>
              <!-- <div class="col-lg-4 col-md-4 my-3 col-4 text-center">
                <div>
                  <div class="">
                    <img
                      src="assets/minimal/images/quick-links-svg/covid_icon.svg"
                      width="80"
                      height="80"
                      class="d-none d-md-inline-flex"
                    />
                    <img
                      src="assets/minimal/images/quick-links-svg/covid_icon.svg"
                      width="80"
                      height="80"
                      class="d-md-none"
                    />
                  </div>
                  <div class="my-1 text-center">
                   Pro<br />
                  </div>
                </div>
              </div> -->
              <div class="col-lg-4 col-md-4 my-3 col-4 text-center">
                <div class="services">
                  <div class="">
                    <img
                      class="d-none d-md-inline-flex"
                      width="80"
                      height="80"
                      src="../../../assets/img/landing/icons/more.svg"
                    />
                    <img
                      class="d-md-none"
                      width="80"
                      height="80"
                      src="../../../assets/img/landing/icons/more.svg"
                    />
                  </div>
                  <div class="service my-1 text-center">
                    Do More
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="banner-text">
    <h1>Alleviate the rigors of the <br />tendering process</h1>
  </div>-->
  <div class="search-section">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="col-md-5 col-12">
        <input
          type="text"
          placeholder="Search contractors/artisans/suppliers"
          class="ca-input-white w-100"
        />
      </div>
      <div class="col-md-auto">
        <button
          class="btn ca-btn-secondary d-block d-inline ml-auto mr-auto mt-3 m-md-0"
        >
          <i class="fa fa-search"></i> search
        </button>
      </div>
    </div>
  </div>
</section>
<section class="ca-why-us-section bg-white">
  <div class="whyus">
    <h2 class="mb-4">Why Contraccess</h2>
    <p>
      Contraccess is an online platform that enables businesses to interact
      <br />and interface for the aides of products or services delivery. It is
      an <br />online data-based slution that alleviates the rigors of the
      <br />tendering process.
    </p>
  </div>

  <div class="icons">
    <div class="col-md-2">
      <img
        src="/assets/img/landing/whyus-icons/17.svg"
        alt="First Hand Tendering"
      />
      <p>First Hand <br />Tendering</p>
    </div>
    <div class="col-md-2">
      <img src="/assets/img/landing/whyus-icons/14.svg" alt="Save your time" />
      <p>Saves time <br />and energy</p>
    </div>
    <div class="col-md-2">
      <img
        src="/assets/img/landing/whyus-icons/98.svg"
        alt="Corporate company"
      />
      <p>Corporate <br />company profile</p>
    </div>

    <div class="col-md-2">
      <img
        src="/assets/img/landing/whyus-icons/21.svg"
        alt="Embrace Technology"
      />
      <p>Embrace <br />Technology</p>
    </div>
    <div class="col-md-2">
      <img
        src="/assets/img/landing/whyus-icons/13.svg"
        alt="Secured safe system"
      />
      <p>Secured and <br />safe system</p>
    </div>
  </div>
</section>
<section class="ca-search-section bg-light">
  <div class="container">
    <h3 class="ca-text-primary pb-3">
      Tendering process made easy
    </h3>
    <app-procurement></app-procurement>
  </div>
</section>
<section class="ca-how-it-works-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="how-it-works">
          <h2 class="my-5">Getting Started</h2>
          <ul>
            <li>
              Click on the "Sign Up" button at the top right hand corner of the
              page
            </li>
            <li>
              Select (Contractors, Suppliers, Artisans or Experts), fill in the
              necessary information
            </li>
            <li>Click on the &quot;register&quot; button</li>
            <li>
              You will recieve a confirmation email requesting validation of
              your registration
            </li>
            <li>
              Click on the link and you will be redirected to the Login page
            </li>
          </ul>
          <button
            class="btn ca-btn-secondary text-uppercase my-3"
            [routerLink]="['/register']"
          >
            get started
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="how-image-container">
          <div class="how-image h-100 my-3">
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/pXtN4y3O35M"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="transparent-bg"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ca-search-section bg-white">
  <div class="container">
    <h3 class="ca-text-primary">
      Find Mdas, Contractors,
      <br />
      Artisans and Suppliers
    </h3>
    <div class="">
      <ul class="nav nav-pills mt-5 mb-1" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active text-uppercase"
            id="pills-home-tab"
            data-toggle="pill"
            href="#pills-contractor"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
            >contractor</a
          >
        </li>
        <li class="nav-item text-uppercase" role="presentation">
          <a
            class="nav-link"
            id="pills-profile-tab"
            data-toggle="pill"
            href="#pills-expert"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Expert</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link text-uppercase"
            id="pills-contact-tab"
            data-toggle="pill"
            href="#pills-supplier"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
            >Supplier</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link text-uppercase"
            id="pills-contact-tab"
            data-toggle="pill"
            href="#pills-artisan"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
            >Artisan</a
          >
        </li>
      </ul>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="tab-content border-0" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-contractor"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <div class="row justify-content-center mt-2 mb-4">
            <div class="col-md-3">
              <input
                type="text"
                placeholder="Name"
                class="ca-input w-100 mt-2"
                [(ngModel)]="contractorFilter.companyName"
              />
            </div>
            <div class="col-md-3">
              <input
                type="text"
                placeholder="Classification"
                class="ca-input w-100 mt-2"
                [(ngModel)]="contractorFilter.classification"
              />
            </div>
            <div class="col-md-auto">
              <button
                class="btn ca-btn-primary d-block d-inline ml-auto mr-auto mt-3 m-md-2"
              >
                <i class="fa fa-search"></i> search
              </button>
            </div>
          </div>
          <div class="table text-left">
            <ng-container *ngIf="allContractors$ | async as allContractors">
              <small>
                Total records
                {{ (allContractors | filterBy: contractorFilter).length }}
              </small>
              <div class="row mt-2">
                <div
                  class="col-md-3"
                  *ngFor="
                    let contractor of allContractors
                      | filterBy: contractorFilter
                      | paginate
                        : {
                            id: 'contractor',
                            itemsPerPage: 4,
                            currentPage: contractorPage
                          }
                  "
                >
                  <app-table-card
                    [user]="contractor"
                    [type]="type.contractor"
                  ></app-table-card>
                </div>
              </div>
              <pagination-controls
                class="pages"
                id="contractor"
                (pageChange)="contractorPage = $event"
              ></pagination-controls>
            </ng-container>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-expert"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <div class="row justify-content-center mt-2 mb-4">
            <div class="col-md-3">
              <input
                type="text"
                placeholder="Name"
                class="ca-input w-100 mt-2"
                [(ngModel)]="expertArtisanFilter.fullName"
              />
            </div>
            <div class="col-md-3">
              <input
                type="text"
                placeholder="category"
                class="ca-input w-100 mt-2"
                [(ngModel)]="expertArtisanFilter.category"
              />
            </div>
            <div class="col-md-auto">
              <button
                class="btn ca-btn-primary d-block d-inline ml-auto mr-auto mt-3 m-md-2"
              >
                <i class="fa fa-search"></i> search
              </button>
            </div>
          </div>
          <div class="table text-left">
            <ng-container *ngIf="allExperts$ | async as allExperts">
              <small>
                Total records
                {{ (allExperts | filterBy: expertArtisanFilter).length }}
              </small>
              <div class="row mt-2">
                <div
                  class="col-md-3"
                  *ngFor="
                    let expert of allExperts
                      | filterBy: expertArtisanFilter
                      | paginate
                        : {
                            id: 'expert',
                            itemsPerPage: 4,
                            currentPage: expertPage
                          }
                  "
                >
                  <app-table-card [user]="expert"></app-table-card>
                </div>
              </div>
              <pagination-controls
                class="pages"
                id="expert"
                (pageChange)="expertPage = $event"
              ></pagination-controls>
            </ng-container>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-supplier"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
        >
          <div class="row justify-content-center mt-2 mb-4">
            <div class="col-md-3">
              <input
                type="text"
                placeholder="Name"
                class="ca-input w-100 mt-2"
                [(ngModel)]="supplierFilter.businessName"
              />
            </div>
            <div class="col-md-3">
              <input
                type="text"
                placeholder="category"
                class="ca-input w-100 mt-2"
                [(ngModel)]="supplierFilter.category"
              />
            </div>
            <div class="col-md-auto">
              <button
                class="btn ca-btn-primary d-block d-inline ml-auto mr-auto mt-3 m-md-2"
              >
                <i class="fa fa-search"></i> search
              </button>
            </div>
          </div>
          <div class="table text-left">
            <ng-container *ngIf="allSuppliers$ | async as allSuppliers">
              <small>
                Total records
                {{ (allSuppliers | filterBy: supplierFilter).length }}
              </small>
              <div class="row mt-2">
                <div
                  class="col-md-3"
                  *ngFor="
                    let supplier of allSuppliers
                      | filterBy: supplierFilter
                      | paginate
                        : {
                            id: 'supplier',
                            itemsPerPage: 4,
                            currentPage: supplierPage
                          }
                  "
                >
                  <app-table-card [user]="supplier"></app-table-card>
                </div>
              </div>
              <pagination-controls
                id="supplier"
                class="pages"
                (pageChange)="supplierPage = $event"
              ></pagination-controls>
            </ng-container>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-artisan"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
        >
          <div class="row justify-content-center mt-2 mb-4">
            <div class="col-md-3">
              <input
                type="text"
                placeholder="Name"
                class="ca-input w-100 mt-2"
                [(ngModel)]="expertArtisanFilter.fullName"
              />
            </div>
            <div class="col-md-3">
              <input
                type="text"
                placeholder="Company"
                class="ca-input w-100 mt-2"
                [(ngModel)]="expertArtisanFilter.category"
              />
            </div>
            <div class="col-md-auto">
              <button
                class="btn ca-btn-primary d-block d-inline ml-auto mr-auto mt-3 m-md-2"
              >
                <i class="fa fa-search"></i> search
              </button>
            </div>
          </div>
          <div class="table text-left">
            <ng-container *ngIf="allArtisans$ | async as allArtisans">
              <small>
                Total records
                {{ (allArtisans | filterBy: expertArtisanFilter).length }}
              </small>
              <div class="row mt-2">
                <div
                  class="col-md-3"
                  *ngFor="
                    let artisan of allArtisans
                      | filterBy: expertArtisanFilter
                      | paginate
                        : {
                            id: 'artisan',
                            itemsPerPage: 4,
                            currentPage: artisanPage
                          }
                  "
                >
                  <app-table-card [user]="artisan"></app-table-card>
                </div>
              </div>
              <pagination-controls
                class="pages"
                id="artisan"
                (pageChange)="artisanPage = $event"
              ></pagination-controls>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ca-download-section">
  <div class="container">
    <div class="row download-wrapper">
      <div class="col-md-5">
        <div class="download-container text-center text-md-right">
          <div class="download-info">
            <h3>Download the <br />Contraccess App</h3>
            <p>
              Get all the powerful functions of contraccess <br />on your device
            </p>
          </div>
          <div class="download-logos">
            <img src="/assets/img/apps/apple.png" alt="Apple Download badge" />
            <img
              src="/assets/img/apps/android.png"
              alt="Apple Download badge"
            />
          </div>
          <button class="btn ca-btn-primary text-uppercase">
            learn more
          </button>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="contraccess-app text-center text-md-left mt-3 mt-md-0">
          <img
            src="/assets/img/landing/contraccess-app.png"
            alt="Contraccess app"
            width="80%"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="ca-subscribe">
    <div class="banner-text ca-text-primary">
      <h4>
        Subscribe to our Newsletter
      </h4>
      <p>
        Join our mailing list and get exclusive access to <br />Contraccess
        Advantage deals & Events
      </p>
    </div>
    <div class="search-section">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="col-md-5 col-12">
          <input
            type="text"
            placeholder="Email"
            class="ca-input-primary w-100"
            [(ngModel)]="newsletterSubscriber.email"
          />
        </div>
        <div class="col-md-auto">
          <button
            class="btn ca-btn-primary d-block d-inline ml-auto mr-auto mt-3 m-md-0"
            (click)="subscribeHandler()"
          >
            <i class="fa fa-search"></i> Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
