<div class="d-flex align-items-center my-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form (ngSubmit)="resetPassword()" [formGroup]="resetForm">
                <h1>Change Password</h1>
                <!-- <p class="text-muted">Password In to your account</p> -->
                <div class="input-group my-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    #ShowHideInput
                    type="password"
                    class="form-control"
                    formControlName="oldPassword"
                    placeholder="Current Password"
                    autocomplete="current-password"
                    required
                    aria-describedby="password"
                    [ngClass]="{
                      'is-invalid':
                        (resetForm.get('oldPassword').touched ||
                          resetForm.get('oldPassword').dirty) &&
                        !resetForm.get('oldPassword').valid
                    }"
                  />
                  <i
                    #ShowHideIcon
                    class="fa fa-eye my-auto mx-4 h-50 password-icon"
                    (click)="peekPassword()"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    #ShowHideInput2
                    type="password"
                    class="form-control"
                    formControlName="newPassword"
                    placeholder="New Password"
                    required
                    aria-describedby="newPassword"
                    [ngClass]="{
                      'is-invalid':
                        (resetForm.get('newPassword').touched ||
                          resetForm.get('newPassword').dirty) &&
                        !resetForm.get('newPassword').valid
                    }"
                  />
                  <i
                    #ShowHideIcon2
                    class="fa fa-eye my-auto mx-4 h-50 password-icon"
                    (click)="peekPassword(2)"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    #ShowHideInput3
                    type="password"
                    class="form-control"
                    formControlName="confirmPassword"
                    placeholder="Confirm Password"
                    required
                    aria-describedby="confirmPassword"
                    [ngClass]="{
                      'is-invalid':
                        (resetForm.get('confirmPassword').touched ||
                          resetForm.get('confirmPassword').dirty) &&
                        !resetForm.get('confirmPassword').valid
                    }"
                  />
                  <i
                    #ShowHideIcon3
                    class="fa fa-eye my-auto mx-4 h-50 password-icon"
                    (click)="peekPassword(3)"
                    aria-hidden="true"
                  ></i>
                </div>
                <div
                  class="mb-4 text-danger"
                  *ngIf="
                    (resetForm.get('confirmPassword').touched ||
                      resetForm.get('confirmPassword').dirty) &&
                    !resetForm.get('confirmPassword').valid
                  "
                >
                  Passwords do not match
                </div>
                <div class="row">
                  <div class="my-2">
                    <button
                      class="btn btn-theme-primary"
                      type="button"
                      disabled
                      *ngIf="loading"
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Loading...
                    </button>
                    <button
                      type="submit"
                      class="btn btn-theme-primary"
                      data-toggle="tooltip"
                      [title]="resetForm.valid ? '' : 'Form not valid'"
                      [disabled]="!resetForm.valid"
                      *ngIf="!loading"
                      (click)="resetPassword()"
                    >
                      Change Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
