<div class="row d-flex justify-content-center">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <strong>Edit Tender</strong>
      </div>
      <div class="card-body">
        <form class="form-horizontal" (ngSubmit)="editTender()" [formGroup]="tenderForm">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="title">Title</label>
            <div class="col-md-9">
              <input type="text" id="title" formControlName="title" name="title" class="form-control" placeholder="Title">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="mdaId">MDA</label>
            <div class="col-md-9">
              <select id="mdaId" name="mdaId" class="form-control" formControlName="mdaId">
                <option *ngFor="let mda of mdas" [value]="mda.id">{{ mda.name }} </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="category">Category</label>
            <div class="col-md-9">
              <select id="category" name="category" class="form-control" formControlName="category">
                <option value="" selected disabled hidden>Please select category</option>
                <option value="Expression of Interest">Expression of Interest</option>
                <option value="Invitation to Tender">Invitation to Tender</option>
                <option value="Pre-Qualification">Pre-Qualification</option>
                <option value="Request for Submission">Request for Submission</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="introduction">Introduction</label>
            <div class="col-md-9">
              <textarea type="text" id="introduction" formControlName="introduction" name="introduction" class="form-control" placeholder="Introduction"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="title">Application Fee</label>
            <div class="col-md-9">
              <input type="number" id="applicationFee" formControlName="applicationFee" name="applicationFee" class="form-control" placeholder="Application Fee">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="collectionOfBidDocument">Collection of Tender Document</label>
            <div class="col-md-9">
              <textarea type="text" id="collectionOfBidDocument" formControlName="collectionOfBidDocument" name="collectionOfBidDocument" class="form-control" placeholder="Collection of Bid Document"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Opening Date</label>
            <div class="col-md-9">
              <input class="form-control" formControlName="openingDate" id="date-input" type="date" name="date-input" placeholder="date">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="openingInfo">Closing Date and Opening Information</label>
            <div class="col-md-9">
              <textarea type="text" id="openingInfo" formControlName="openingInfo" name="openingInfo" class="form-control" placeholder="Opening Information"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Expiry Date</label>
            <div class="col-md-9">
              <input class="form-control" formControlName="expiryDate" id="date-input" type="date" name="date-input" placeholder="date">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="notes">Notes</label>
            <div class="col-md-9">
              <textarea type="text" id="notes" formControlName="notes" name="notes" class="form-control" placeholder="Notes"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="disclaimer">Disclaimer</label>
            <div class="col-md-9">
              <textarea type="text" id="disclaimer" formControlName="disclaimer" name="disclaimer" class="form-control" placeholder="Disclaimer"></textarea>
            </div>
          </div>
          <div class="row d-flex justify-content-center my-2" *ngIf="uploadLoading">
            <div class="spinner-grow text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-input">Upload Bill of Qunatity (Optional)</label>

            <div class="col-md-3">
              <div class="mx-auto  my-1">
                <img src="../../../../../assets/img/excel.png" width="80%" height="120" alt="" srcset="" />
              </div>
           </div>
            <div class="col-md-6 my-auto">
              <input type="file" id="file-input" name="file-input" (change)="getUploadUrl($event)" >
              <div class="mt-1"><small class="text-danger"> (Bill of Quantity should be in excel format and not more than 4MB).</small></div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-success mx-3" type="button" disabled *ngIf="loading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
        <button type="submit" class="btn btn-success mx-3" *ngIf="!loading" (click)="editTender()">Edit Tender</button>
      </div>
    </div>
  </div>
</div><!--/.row-->