<div class="row">
  <div class="row w-100">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h2>Projects({{ projects.length }})</h2>
          <button
            class="btn bg-theme-primary text-white m-2 my-sm-0"
            [routerLink]="['/contractor/company/projects/add-project']"
          >
            Add Previous Project
          </button>
        </div>
        <div class="card-body">
          <!-- <div class="table-responsive"> -->
          <table
            class="table stripped table-responsive-sm table-xs-responsive table-hover table-outline mb-0"
            summary="List of projects"
            aria-role="table"
          >
            <!-- <colgroup>
              <col span="1" style="width: 20%;" />
              <col span="1" style="width: 20%;" />
              <col span="1" style="width: 60%;" />
            </colgroup> -->
            <thead class="thead-light">
              <tr>
                <th>Job Title</th>
                <th>Awardee</th>
                <th>Lot Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="">
              <tr *ngFor="let project of projects">
                <td>
                  <div>
                    {{ project.jobTitle }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ project.awardee }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ project.breifDescription }}
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-warning m-1" (click)="setProject(project)" >Edit</button>
                  <button class="btn btn-theme-primary m-2" (click)="setProject(project, 'view')" >View</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="my-5 text-center"
            *ngIf="!loading && projects.length === 0"
          >
            <span>No projects added, add projects to view them here.</span>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<!--/.row-->
