<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h2>Artisans</h2>
        <!-- <button class="btn bg-theme-primary text-white m-2 my-sm-0" [routerLink]="['/documents/upload/' + docType]">
          UPLOAD {{ docType  | uppercase}} DOCUMENT
        </button> -->
      </div>
      <div class="card-body">
        <!-- <div class="table-responsive"> -->
        <table
          class="table stripped-alt table-responsive-sm table-xs-responsive table-hover table-outline mb-0"
          summary="List of projects"
          aria-role="table"
        >
          <thead class="thead-light">
            <tr>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Skills</th>
              <th>Date Registered</th>
              <th>Team Size</th>
            </tr>
          </thead>
          <tbody class="">
            <tr *ngFor="let user of users">
              <td>
                <div>
                  {{ user.email || "" }}
                </div>
              </td>
              <td>
                <div>
                  {{ user.phoneNumber }}
                </div>
              </td>
              <td>
                <div>
                  {{ user.category }}
                </div>
              </td>
              <td>
                <div>
                  {{ user.dateCreated | date: "mediumDate" }}
                </div>
              </td>
              <td>
                <div>
                  {{ user.teamSize }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="my-5 text-center" *ngIf="!loading && users.length === 0">
          <span>No artisans registered yet.</span>
        </div>
        <!-- <
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
