// Variable overrides

$ca-color-primary: #c74923;
$ca-color-secondary: #ffedbe;
$ca-color-tertiary: #9ae1ff;
$ca-color-grey: #808080;
$ca-color-contractor: #006277;
$ca-color-artisan: #007770;
$ca-color-expert: #007770;
$ca-color-mda: #4A4DA0;
$ca-color-supplier: #C34D3F;
$ca-color-admin: #4A4DA0;